<section id="contact" class="content-medium">
    <div class="section-title"><%= t(:contact_title) %></div>
    <div class="content">
        <div class="left">
            <%= t(:contact_desc) %>
        </div>
        <div class="right">
        <input type="text" name="name" id="form-name" placeholder="<%= t(:contact_name) %>">
        <input type="email" name="email" id="form-email" placeholder="<%= t(:contact_email) %>">
    
        <textarea name="msg" id="form-msg" placeholder="<%= t(:contact_message) %>"></textarea>
        <button class="button" id="send-button" ><%= t(:contact_send) %></button>
        </div>
    </div>
</section>