<section id="contact" class="content-medium">
    <div class="section-title"><%= t(:contact_title) %></div>
    <div class="content">
        <div class="left">
            <%= t(:contact_desc) %>
        </div>
        <div class="right">
        <input type="text" name="name" placeholder="<%= t(:contact_name) %>">
        <input type="text" name="email" placeholder="<%= t(:contact_email) %>">
    
        <textarea name="msg" placeholder="<%= t(:contact_message) %>"></textarea>
        <a href="" class="button" ><%= t(:contact_send) %></a>
        </div>
    </div>
</section>