<section id="team-start" class="content-medium"> 
    <div class="section-title white"><%= t(:team_title) %></div>
    <div class="content-team owl-carousel light">

        <% t(:team_persons).each do |item| %>
            <div class="h-blog item">
                <%= image_tag item[:img] %>
                <div class="title"><%= item[:name] %></div>
                <div class="office"><%= item[:office] %></div>
                <% if !item[:linkedl].nil? %>
                <div class="lkdl">
                    <a href="<%= item[:linkedl] %>" target="_blank">
                    <%= image_tag 'rodape_LinkedIn.png' %>
                    </a>
                </div>
                <% end %>
                <div><%= item[:desc] %> </div>
            </div>
        <% end %>
    </div>
</section>