<section id="app-kidSafe" class="content-medium">
    <div class="section-title"><%= t(:kidsafe_title) %></div>
    <p class="desc"><%= t(:kidsafe_desc) %></p>
    <p><%= t(:kidsafe_more_info) %></p>

    <%= image_tag 'logo_KidSafe.png' %>

    <div class="stores">
        <div><%= image_tag 'botao_Google.png' %></div>
        <div><%= image_tag 'botao_iOS.png' %></div>
    </div>
</section>