<section id="app-kidSafe" class="content-medium">
    <div class="section-title"><%= t(:kidsafe_title) %></div>
    <p class="desc"><%= t(:kidsafe_desc) %></p>
    <p><%= t(:kidsafe_more_info) %></p>

    <%= image_tag 'logo_KidSafe.png' %>

    <div class="stores">
        <div><a href="https://play.google.com/store/apps/details?id=com.timokids_app.timokidsgamesx" target="_blank"><%= image_tag 'botao_Google.png' %></a></div>
        <div><a href="https://itunes.apple.com/br/app/timokids-historias-e-jogos/id824277890?mt=8" target="_blank"><%= image_tag 'botao_iOS.png' %></a></div>
        <div><a href="https://www.microsoft.com/pt-br/store/p/timokids/9nblgggzkh2d?rtc=1" target="_blank"><%= image_tag 'botao_Windows.png' %></a></div>
    </div>
</section>