<section id="home-campaings">
    <div class="content-medium">
        <div class="section-title  white"><%= t(:campaings_home_title) %></div>
        <div class="campaign-carousel owl-carousel light">
            <% t(:campaings).select { |x| x[:show_home] }.each do |item| %>
                <div class="item">
                    <%= image_tag item[:home_img] %>
                    <div class="item-desc">
                        <div class="desc-content">
                            <div class="title">
                                <%= item[:title] %>
                            </div>
                            <div>
                                <%= item[:home_desc] %>
                            </div>
                            <% if item[:has_detail] %>
                            <%= link_to item[:button], path("campaings/" + item[:title] + ".html"), :class => 'button' %>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    
</section>
