---
title: teste
---
<%= stylesheet_link_tag 'global' %>
<%= partial "menu" %>
<div id="campaign" class="page-section">
    <section id="campaign-notice" class="content-medium">
        <div class="section-title"><%= item[:title] %></div>
        <% item[:notice].each do |notice| %>
            <% if notice[:template] == 'right' %>
                <div class="content-image-right">  
                    <div class="text">
                        <% notice[:paragraphs].each do |p| %>
                            <p><%= p %></p>
                        <% end %>
                    </div>
                    <div class="images">
                        <%= image_tag notice[:img] %>
                    </div>
                </div>
            <% end %>

            <% if notice[:template] == 'left' %>
                <div class="content-image-left">  
                    <div class="images">
                        <%= image_tag notice[:img] %>
                    </div>
                    <div class="text">
                        <% notice[:paragraphs].each do |p| %>
                            <p><%= p %></p>
                        <% end %>
                    </div>
                </div>
            <% end %>

            <% if notice[:template] == 'content' %>
                <div class="content">
                    <% notice[:paragraphs].each do |p| %>
                        <p><%= p %></p>
                    <% end %>
                </div>
            <% end %>

            <% if notice[:template] == 'images' %>
                <div class="images">
                    <% notice[:imgs].each do |img| %>
                        <div><%= image_tag img %></div>
                    <% end %>
                </div>
            <% end %>
        <% end %>
        
        
        
        
    </section>
    <section id="campaign-thanks" class="content-medium">
        <div class="section-title"><%= item[:title] %></div>
        <div class="names">
            <% item[:thanks_names].each do |img| %>
                <div><%= img %></div>
            <% end %>
        </div>
        <div class="logos">
            <% item[:thanks_imgs].each do |img| %>
                <div><%= image_tag img %></div>
            <% end %>
        </div>
    </section>
</div>
<%= partial "footer" %>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function(){
    $(".menu-left").click(function() {
          $(this).toggleClass( "is-active" );
          $(".menu-sections").toggleClass( "active" );
      });
  
      $(".menu-right").click(function() {
          $("#menu-top").toggleClass( "active" );
          $(this).toggleClass( "is-active" );
    });
});
</script>