<div id="menu">
    <div id="menu-top" >
        <div id="menu-top-content" class="content-medium">
            <div>
                <ul class="inline-list">
                    <li><%= link_to t(:about_menu), '/about.html' %></li>
                    <li><%= link_to t(:our_team), '/team.html' %></li>
                    <li><a href='https://www.timokids.com.br/en/blog/'target="_blank"  %><%= t(:blog) %></a></li>
                </ul>
            </div>
            <div>
                <ul class="inline-list">
                    <li><%= link_to t(:contact), '/contact.html' %></li>
                    <li class="blueBack"><%=t(:subscribe_newsletter) %></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="menu-timo" >
        <div id="menu-timo-content" class="content-medium">
            <button class="hamburger hamburger--arrowturn menu-left" type="button">
                <span class="hamburger-box">
                <span class="hamburger-inner"></span>
                </span>
            </button>
            <div class="menu-logo">
                <% link_to "index.html" do %> 
                    <%= image_tag 'logo_TK.png' %>
                <% end %>
            </div>
            <div class="menu-sections">
                <ul class="inline-list">
                    <li><%=t(:timo_app) %></li>
                    <li><%= link_to t(:timo_school), '/school.html' %></li>
                    <li><%= link_to t(:timo_social), '/social.html' %></li>
                    <li><%= link_to t(:timo_games), '/games.html' %></li>
                </ul>
            </div>

            <button class="hamburger hamburger--arrowturn-r menu-right" type="button">
                <span class="hamburger-box">
                <span class="hamburger-inner"></span>
                </span>
            </button>

        </div>
    </div>
</div>