<div id="menu">
    <div id="menu-top-resp">
        <div class="content-medium content">
            <% link_to  path(current_page.path,{:lang => "pt"}) do%>
                <%= image_tag 'pt.png' %>
            <% end %>
            <% link_to  path(current_page.path,{:lang => "en"}) do%>
                <%= image_tag 'en.png' %>
                
            <% end %>
        </div>
    </div>
    <div id="menu-top" >
        <div id="menu-top-content" class="content-medium">
            <div>
                <ul class="inline-list">
                    <li><%= link_to t(:about_menu), path('/about.html') %></li>
                    <li><%= link_to t(:our_team), path('/team.html') %></li>
                    <li><a href='https://www.timokids.com.br/en/blog/'target="_blank"  %><%= t(:blog) %></a></li>
                </ul>
            </div>
            <div>
                <ul class="inline-list">
                    <li><%= link_to t(:contact), path('/contact.html') %></li>
                    <li class="blueBack"><%=t(:subscribe_newsletter) %></li>
                    <li class="lang-img">
                        <% link_to  path(current_page.path,{:lang => "pt"}) do%>
                            <%= image_tag 'pt.png' %>
                        <% end %>
                        <% link_to  path(current_page.path,{:lang => "en"}) do%>
                            <%= image_tag 'en.png' %>
                        <% end %>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div id="menu-timo" >
        <div id="menu-timo-content" class="content-medium">
            <button class="hamburger hamburger--arrowturn menu-left" type="button">
                <span class="hamburger-box">
                <span class="hamburger-inner"></span>
                </span>
            </button>
            <div class="menu-logo">
                <% link_to path("/index.html") do %> 
                    <%= image_tag 'logo_TK.png' %>
                <% end %>
            </div>
            <div class="menu-sections">
                <ul class="inline-list">
                    <li><%= link_to t(:timo_app), path('/app.html') %></li>
                    <li><%= link_to t(:timo_school), path('/school.html') %></li>
                    <li><%= link_to t(:timo_social), path('/social.html') %></li>
                    <li><%= link_to t(:timo_games), path('/games.html') %></li>
                </ul>
            </div>

            <button class="hamburger hamburger--arrowturn-r menu-right" type="button">
                <span class="hamburger-box">
                <span class="hamburger-inner"></span>
                </span>
            </button>

        </div>
    </div>
</div>