---
title: SOBRE NÓS
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />

<%= stylesheet_link_tag 'global' %>

<%= partial "menu" %>
<div id="app-content" class="page-section">
<%= partial "app/app" %>
<%= partial "app/timolico" %>
<%= partial "app/travelers" %>
<%= partial "games/games" %>
<%= partial "app/kidsafe" %>

</div>
<%= partial "footer" %>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function(){
    $(".menu-left").click(function() {
          $(this).toggleClass( "is-active" );
          $(".menu-sections").toggleClass( "active" );
      });
  
      $(".menu-right").click(function() {
          $("#menu-top").toggleClass( "active" );
          $(this).toggleClass( "is-active" );
    });
});
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script>
$(document).ready(function(){
    $(".app-theme").owlCarousel({
        responsiveClass:true,
        navText: ["",""],
        nav:true,
        responsive:{
            800:{
                items:4
            },
            569:{
                items:3
            },
            0:{
                items:1
            },
            1200:{
                items:5
            }
        }
    });

    $(".timolico-histories-carousel, .travelers-histories-carousel").owlCarousel({
        responsiveClass:true,
        navText: ["",""],
        nav:true,
        responsive:{
            800:{
                items:3
            },
            569:{
                items:2
            },
            0:{
                items:1
            },
            1200:{
                items:3
            }
        }
    });
    

    $(".timolico-persons-carousel, .travelers-persons-carousel").owlCarousel({
        responsiveClass:true,
        navText: ["",""],
        nav:true,
        responsive:{
            800:{
                items:3
            },
            569:{
                items:2
            },
            0:{
                items:1
            },
            1200:{
                items:3
            }
        }
    });

    $(".tab .tablinks").click(function() {
        var tab_content_id = "#" + $(this).parent().data('target');

        $(this).parent().children(".tablinks").removeClass("active");
        $(this).addClass("active");

        var tab_content = $(tab_content_id);
        tab_content.children().removeClass("active");
        var active_id = "#" + $(this).data('target');
        var active_tab = $(tab_content_id+ " " +active_id);
        active_tab.addClass("active");
    });

    $('.content-games').owlCarousel({
            responsiveClass:true,
            nav:true,
            navText: ["",""],
            responsive:{
                800:{
                    items:3
                },
                569:{
                    items:2
                },
                0:{
                    items:1
                },
                1200:{
                    items:4
                }
            }
        });
});


</script>