<section id="games-all" class="content-medium"> 
    <div class="section-title"><%= t(:games_all_title) %></div>
    <div class="content-games owl-carousel">
        <% t(:games_all).each do |item| %>
            <div class="item">
            <% if item[:has_detail] %>
            <a href="<%= root_url() + path("games/#{item[:title]}") %>">
            <% end %>
                <%= image_tag item[:img] %>
                
                <div class="title"><%= item[:title] %></div>
                <div><%= item[:desc] %></div>
            <% if item[:has_detail] %>
            </a>    
            <% end %>
            </div>
            
        <% end %>
    </div>
</section>